<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Amatic.ttf</string>
		<string>AnjelikaRose.ttf</string>
		<string>Avantfatlove.ttf</string>
		<string>AvantGarde.ttf</string>
		<string>AveriaSerif.ttf</string>
		<string>Bazar.ttf</string>
		<string>BEBAS.ttf</string>
		<string>Aquarion.otf</string>
		<string>Bellerose.ttf</string>
		<string>Blackout.ttf</string>
		<string>BLANCH_CAPS.otf</string>
		<string>BPdots.otf</string>
		<string>BrainFlower.ttf</string>
		<string>Capture it.ttf</string>
		<string>Chunkfive.ttf</string>
		<string>Comfortaa.ttf</string>
		<string>Conviction.ttf</string>
		<string>Designosaur.otf</string>
		<string>Duke.otf</string>
		<string>Fjord.otf</string>
		<string>Folksolid.ttf</string>
		<string>GearedSlab-Bold.ttf</string>
		<string>Geosans.ttf</string>
		<string>Gotham.ttf</string>
		<string>Grandesign-Neue-Serif.ttf</string>
		<string>Gretoon.ttf</string>
		<string>Haymaker.ttf</string>
		<string>Highlands-Regular.ttf</string>
		<string>HomemadeApple.ttf</string>
		<string>Homestead.ttf</string>
		<string>Intro.otf</string>
		<string>Joyful-Juliana.ttf</string>
		<string>JUICE.ttf</string>
		<string>Klavika-Bold.otf</string>
		<string>knewave.ttf</string>
		<string>Knochen.ttf</string>
		<string>laurencb.ttf</string>
		<string>Light-up-the-World.ttf</string>
		<string>LiveSimply.ttf</string>
		<string>Lobster 1.4.otf</string>
		<string>Magenta.ttf</string>
		<string>Market_Deco.ttf</string>
		<string>Mate.otf</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>com.yoseob.$(PRODUCT_NAME:rfc1034identifier)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>JoyPic</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
